    <div class="main-contents">
      <aside>
        <div class="user-name"><p><%= link_to current_user.name, edit_user_registration_path %>さん</p></div>
        <p><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></p> 
        <h2 class="sub-title">menu</h2>
        <ul class="sub-menu">
          <li><%= link_to 'ワクチン', vaccines_path%></li>
          <li><%= link_to 'アレルギー', allergies_path %></li>
          <li><%= link_to '薬剤情報', medications_path %></li>
          <li><%= link_to '既往歴', underlying_conditions_path %></li>
          <li><%= link_to '成長曲線', body_types_path %></li>
        </ul>
        <div class="news">
          <h2>お知らせ</h2>
          <p>次回の予防接種情報実装予定</p>
        </div>
      </aside>
      <div class="main-area">
        <p>メニューから見たい項目を選んでください</p>
        <p>基本情報を編集する場合はユーザー名をクリックして下さい</p>
      </div>
    </div>

