    <div class="main-contents">
      <aside>
        <div class="user-name"><p><%= link_to current_user.name, edit_user_registration_path %>さん</p></div>
        <p><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></p> 
        <h2 class="sub-title">menu</h2>
        <ul class="sub-menu">
          <li><%= link_to 'ワクチン', vaccines_path%></li>
          <li><%= link_to 'アレルギー', allergies_path %></li>
          <li><%= link_to '薬剤情報', medications_path %></li>
          <li><%= link_to '既往歴', underlying_conditions_path %></li>
          <li><a href="#">成長曲線</a></li>
        </ul>
        <div class="news"><h2>お知らせ</h2></div>
      </aside>
      <div class="main-area">
        <%= form_with model: @underlying_condition, url: underlying_conditions_path do |form| %>
          <div class="field">
            <%= form.label :details %>
            <%= form.text_field :details %>
          </div>

          <div class="field">
            <%= form.label :diagnosis_date %>
            <%= form.date_field :diagnosis_date %>
          </div>

          <div class="field">
            <%= form.label :notes %>
            <%= form.text_area :notes %>
          </div>

          <div class="actions">
            <%= form.submit "保存" %>
          </div>
        <% end %>
      </div>
    </div>
