<div class="main-contents">
  <aside>
    <div class="user-name">
      <p><%= link_to current_user.name, edit_user_registration_path %>さん</p>
    </div>
    <p><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></p> 
    <h2 class="sub-title">menu</h2>
    <ul class="sub-menu">
          <li><%= link_to 'ワクチン', vaccines_path%></li>
          <li><%= link_to 'アレルギー', allergies_path %></li>
          <li><%= link_to '薬剤情報', medications_path %></li>
          <li><%= link_to '既往歴', underlying_conditions_path %></li>
          <li><%= link_to '成長曲線', body_types_path %></li>
    </ul>
    <div class="news">
      <h2>お知らせ</h2>
      <p>次回の予防接種情報実装予定</p>
    </div>
  </aside>
  <div class="main-area">
    <h2>ワクチン情報</h2>
    <%= form_with model: Vaccine.new, local: true do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <div class="form-group">
        <%= f.label :vaccine_name, "ワクチン名" %>
        <%= f.text_field :vaccine_name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :vaccination_date, "接種日" %>
        <%= f.text_field :vaccination_date, class: "form-control", type: "date" %>
    </div>
      <div class="form-group">
        <%= f.label :notes, "備考" %>
        <%= f.text_area :notes, class: "form-control" %>
      </div>
      <%= f.submit "追加", class: "btn btn-primary" %>
    <% end %>
  
    <h2>接種ワクチン一覧</h2>
    <table class="table">
      <thead>
        <tr>
          <th>ワクチンの名前</th>
          <th>接種日</th>
          <th>備考</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <% @vaccines.each do |vaccine| %>
          <tr>
            <td><%= vaccine.vaccine_name %></td>
            <td><%= vaccine.vaccination_date%>
            <td><%= vaccine.notes %></td>
            <td>
              <%= link_to "編集", edit_vaccine_path(vaccine), class: "btn btn-primary btn-sm" %>
              <%= link_to "削除", vaccine_path(vaccine), method: :delete, data: { confirm: "削除しますか？" }, class: "btn btn-danger btn-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>